
/* =========================
   BASE
========================= */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Segoe UI, Arial, sans-serif;
    background: #f4f6f9;
}

/* =========================
   LOGIN
========================= */

.login-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0f172a;
}

.login-card {
    width: 340px;
    background: white;
    padding: 30px;
    border-radius: 14px;
    text-align: center;
}

.logo {
    width: 120px;
    margin-bottom: 10px;
}

.login-card input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 10px;
}

.error-message {
    color: red;
    margin-top: 10px;
}

/* =========================
   ERP LAYOUT
========================= */

.layout {
    display: flex;
    height: 100vh;
}

/* SIDEBAR */

.sidebar {
    width: 260px;
    background: #0f172a;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar-logo {
    width: 150px;
    margin: 0 auto 20px auto;
}

/* MENU */

.menu-btn {
    background: #1e293b;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    text-align: left;
}

.menu-btn:hover {
    background: #334155;
}

.menu-btn.active {
    background: #2563eb;
}

.logout-btn {
    margin-top: auto;
    background: red;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
}

/* MAIN */

.main {
    flex: 1;
    padding: 30px;
}

/* SEARCH */

.search-box {
    display: flex;
    gap: 10px;
    max-width: 500px;
}

.search-box input {
    flex: 1;
    padding: 12px;
}

.search-box button {
    padding: 12px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 8px;
}

/* RESULTS */

#results {
    margin-top: 20px;
    background: white;
    padding: 15px;
}

/* =========================
   MODULE HEADER + ACTION BAR
========================= */

.module-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.action-bar {
    display: flex;
    gap: 10px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    box-shadow: 0 4px 12px rgba(0,0,0,0.06);
}

.action-bar button {
    padding: 8px 12px;
    border: none;
    background: #2563eb;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.action-bar button:hover {
    background: #1d4ed8;
}
